div.pager {
    text-align: center;
    margin: 1em 0;
  }
  
  div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #28a745;
    color: #fff;
    margin-right: 0.5em;
    border-radius: 100%;
  }
  
  div.pager span.active {
    background: #ffc107;
  }